{% extends 'html/base.html' %}
{% block title %} Aboutus {% endblock %}
{% block content %}
<div class=".s1">
  <div class="jumbotron ml-auto">
    <style>
.s1{
  border: 6px outset darkblue;
  background-color: lightblue;
  text-align: center;
  font-size: 19px;
}
   </style>
    <center><h2 style="color: pink"><b>About Us</b></h2></center>
  </div>
</div>
<div class=".s2">
    <div class="jumbotron ml-auto">
<style>
.s2{
  border: 6px  yellow;
  background-color: green;
  text-align: top;
}
</style>
 <p style="font-family: times new roman"><b>C programming is a general-purpose, procedural, imperative computer programming language developed in 1972 by Dennis M.</b></p>
    <h3 style="color: blue"> C programming language Topics</h3>
    <ul style="color: green">
      <li>Structure of C, compilation, execution</li>
      <li>character set, identifiers, keywords </li>
      <li>constants, variables</li>
      <li>expression, operators </li>
      <li>operators continue…</li>
      <li>loops: do while, while</li>
      <li> for loop, break, continue statement</li>
      <li>control Statements</li>
      <li>nesting of if else…, if else ladder</li>
      <li>arrays</li>
      <li>strings</li>
      <li>functions</li>
      <li>Operators</li>
      <li>file handling</li>
    </ul>
   </div>
</div>
{% endblock %}