{% extends 'html/base.html' %}
{% load static %}
{% block title %} C Learning {% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="card ml-auto row">
    <center>
    <img src="{% static 'images/c1.jpg' %}" style="width: 700px;">
    </center>
  </div>
</div>
<div class="container mt-5">
  <div class="jumbotron ml-auto">
    <H1><center>INTRODUCTION TO C</center></H1>
    <p><h5>C programming is a general-purpose, procedural, imperative computer programming language developed in 1972 by Dennis M. Ritchie at the Bell Telephone Laboratories to develop the UNIX operating system. C is the most widely used computer language. It keeps fluctuating at number one scale of popularity along with Java programming language, which is also equally popular and most widely used among modern software programmers.</h5></p>

    <p><h5>C programming language is a MUST for students and working professionals to become a great Software Engineer specially when they are working in Software Development Domain. I will list down some of the key advantages of learning C Programming:

    <p><h5>Easy to learn</h5></p>

    <p><h5>Structured language</h5></p>

    <p><h5>It produces efficient programs</h5></p>

    <p><h5>It can handle low-level activities</h5></p>

    <p><h5>It can be compiled on a variety of computer platforms</h5></p>

    C was invented to write an operating system called UNIX.

C is a successor of B language which was introduced around the early 1970s.

The language was formalized in 1988 by the American National Standard Institute (ANSI).

The UNIX OS was totally written in C.

Today C is the most widely used and popular System Programming Language.

Most of the state-of-the-art software have been implemented using C.

  </div>
</div>
{% endblock %}