{% extends 'html/base.html' %}
{% load static %}
{% block title %} C Learning {% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row mt-1">
		<div class="card col-sm-3 mr-1 ml-2" style="background-color: #F5DEB3;">
			<nav class="navbar" style="background-color: #F5DEB3;">
			  <ul class="navbar-nav">
			    <li class="nav-item">
			      <a class="nav-link" href="{% url 'itd' %}">Introduction to C</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="{% url 'arr' %}">Arrays</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="{% url 'st' %}">Strings</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="{% url 'fct' %}">Function</a>
			    </li>
			</nav>
		</div>
		<div class="card col-sm-8 mr-1">
			<img src="{% static 'images/n1.jpg' %}" height="30%" width="100%">
			<hr>
			<div class="container" width="120%">
			<H1><b class="text-warning ml-4">C Programming Language Introduction</b></H1>
			<p>C is a procedural programming language. It was initially developed by Dennis Ritchie in the year 1972. It was mainly developed as a system programming language to write an operating system. The main features of C language include low-level access to memory, a simple set of keywords, and clean style, these features make C language suitable for system programmings like an operating system or compiler development.
				Many later languages have borrowed syntax/features directly or indirectly from C language. Like syntax of Java, PHP, JavaScript, and many other languages are mainly based on C language. C++ is nearly a superset of C language (There are few programs that may compile in C, but not in C++).

				Beginning with C programming:

				Structure of a C program
				After the above discussion, we can formally assess the structure of a C program. By structure, it is meant that any program can be written in this structure only. Writing a C program in any other structure will hence lead to a Compilation Error.
				The structure of a C program is as follows:</p>

			<iframe width="560" height="315" src="https://www.youtube.com/embed/ZBJzVQX9MwA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	   </div>
	</div>
</div>
{% endblock %}

